*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin-left: 160px;
    margin-top: 40px;
    margin-right: 160px;
}

.header{
    display: flex;
    align-items: center;
    gap: 970px;
}
.nav{
    gap: 20px;
}
.nav a{
    color: black;
    font-style: none;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;   
}
.btn{
    border-radius: 20px;
    font-size: 13px;
    width: 150px;
    height: 40px;
    background: #fff;
    border: #A5B4FC 1px solid;
}